{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        Bienvenido a Django App, la plataforma perfecta para gestionar y subir tareas de manera eficiente. Con nuestra aplicación, puedes crear, organizar y asignar tareas fácilmente, y los estudiantes pueden subir sus trabajos de forma segura y oportuna. Con características como seguimiento de progreso, recordatorios y una interfaz intuitiva, simplificamos la vida tanto para estudiantes como para profesores. Únete a nosotros hoy mismo y descubre cómo Django App puede mejorar tu experiencia académica.
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Singnup
        </a>
    </div>
    </section>
</main>
{% endblock %}